/*---------------------------------*/
/*          _header.scss          */
/*-------------------------------*/

.navbar {
  position: fixed;
  display: flex;
  flex-direction: column;
  background-color: $light-grey;
  width: 100vw;
  z-index: 10;

  @media (min-width: $desktop) {
    flex-direction: row;
  }

  &__logo {
    height: 65px;
    margin: auto;

    @media (min-width: $desktop) {
      margin: auto auto auto 3vw;
    }

    &__link {
      display: block;
      padding-top: 12px;
    }
  }

  &__wrap {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 0;
    margin: 0;
    height: 65px;

    @media (min-width: $desktop) {
      width: 45vw;
    }

    &__menu {
      background-color: $half-grey;
    }

    &__currency {
      background-color: $grey;
    }
    &__cart {
      background-color: $cart-grey;

      &__pilot {
        display: none;
        position: absolute;
        top: 13px;
        left: 18vw;
        width: 14px;
        height: 14px;
        background-color: $purple;
        border-radius: 50%;
        box-shadow: 0 0 6px 0 $purple;

        @media (min-width: $desktop) {
          left: 8vw;
        }
      }
    }
  }

  &__icons {
    font-size: 1.2em;
  }
}
